VITE_BASE_PATH=/verkup/
VITE_SAVE_API_URL=/verkup/api
VITE_REALTIME_WS_URL=
VITE_YANDEX_MAPS_API_KEY=
BITRIX_FIELD_INSTALL_ADDRESS=
BITRIX_FIELD_INSTALL_CLIENT_NAME=
BITRIX_FIELD_INSTALL_CLIENT_PHONE=
BITRIX_FIELD_INSTALL_COMMENT=
BITRIX_FIELD_INSTALL_FILES=
